{% extends "paypixplaceapp/base_fullscreen.html" %}
{% load staticfiles %}
{% block content %}
    
    <script type="text/javascript" src="{% static 'paypixplaceapp/libraries/panzoom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'paypixplaceapp/js/canvas_detail.js' %}"></script>
    
    <div id="sidebarContainer" class="ppp-sidebar-container">

        <div id="sidebarTrigger" class="ppp-sidebar-trigger">
            <i id="sidebarTriggerOpen" class="fas fa-caret-square-left ppp-icon ppp-sidebar-trigger-icon align-top"></i>
            <i id="sidebarTriggerClose" class="fas fa-caret-square-right ppp-icon ppp-sidebar-trigger-icon align-top" hidden></i>
        </div>
        
        <div id="sidebarContent" class="card text-white bg-dark ppp-sidebar-content text-center align-middle">
            <div class="card-header">
                <h2>{{ object.name }}</h2>
            </div>
            <div class="card-body p-2">
                <ul class="list-group list-group-flush">
                    {% if user.is_authenticated %}
                    <script src="{% static 'paypixplaceapp/js/pickers.js' %}"></script>
                    <li class="list-group-item text-white bg-dark border-top-0 p-2">
                        {% with slots_count=slots.count %}
                        <div class="row">
                            {% if slots_count > 0 %}
                            <div class="col-6 mb-3 p-0">
                                <div class="picker1 ppp-picker ppp-picker-selected"></div>
                                <button class="btn btn-sm btn-dark ppp-btn-color-picker" data-toggle="modal" data-target=".color-picker-modal" onclick="changeCurrentSlot(1)">
                                    <i class="fas fa-palette"></i>
                                </button>
                            </div>
                            {% endif %}
                            {% if slots_count > 1 %}
                            <div class="col-6 mb-3 p-0">
                                <div class="picker2 ppp-picker"></div>
                                <button class="btn btn-sm btn-dark ppp-btn-color-picker" data-toggle="modal" data-target=".color-picker-modal" onclick="changeCurrentSlot(2)">
                                    <i class="fas fa-palette"></i>
                                </button>
                            </div>
                            {% endif %}
                            {% if slots_count > 2 %}
                            <div class="col-6 p-0">
                                <div class="picker3 ppp-picker"></div>
                                <button class="btn btn-sm btn-dark ppp-btn-color-picker" data-toggle="modal" data-target=".color-picker-modal" onclick="changeCurrentSlot(3)">
                                    <i class="fas fa-palette"></i>
                                </button>
                            </div>
                            {% endif %}
                            {% if slots_count > 3 %}
                            <div class="col-6 p-0">
                                <div class="picker4 ppp-picker"></div>
                                <button class="btn btn-sm btn-dark ppp-btn-color-picker" data-toggle="modal" data-target=".color-picker-modal" onclick="changeCurrentSlot(4)">
                                    <i class="fas fa-palette"></i>
                                </button>
                            </div>
                            {% endif %}

                            {% if slots_count < 4 %}
                            <div class="col-6 p-0">
                                <a class="btn btn-dark p-0" data-toggle="modal" data-target=".buy-color-modal" style="cursor: pointer;">
                                    <i class="fas fa-plus-square ppp-icon-md"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        {% endwith %}
                    </li>
                    <li class="list-group-item text-white text-left bg-dark">
                        <label class="font-weight-bold m-0 align-middle">Selection Tool</label>
                        <label class="switch m-0">
                            <input id="selectCB" type="checkbox" class="default">
                            <span class="slider round"></span>
                        </label>
                        <div id="selectionToolbox" class="border-top mt-3 text-center">
                            <div class="form-group">
                                <label for="canvasTheme" class="font-weight-bold">Pixel Owner</label>
                                <input type="text" class="form-control font-weight-bold pixelOwner" disabled>
                            </div>
                            <div class="form-group">
                                <label for="canvasTheme" class="font-weight-bold">Pixel Protection  <i id="pixelLocked" class="fas fa-lock-open"></i></label>
                                <input type="text" class="form-control font-weight-bold pixelProtected mb-1" disabled>
                                <button id="lockModalButton" class="btn btn-success ppp-btn-md" data-toggle="modal" data-target=".lock-pixel-modal">
                                    Lock Pixel
                                </button>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    <li class="list-group-item text-white text-left bg-dark">
                        <label class="font-weight-bold m-0 align-middle">Show Grid</label>
                        <label class="switch m-0">
                            <input type="checkbox" class="default showGridCB">
                            <span class="slider round"></span>
                        </label>
                    </li>
                    <li class="list-group-item text-white text-left bg-dark">
                        <label class="font-weight-bold m-0 align-middle">Show Locked</label>
                        <label class="switch m-0">
                            <input id="hideProtectedCB" type="checkbox" class="default">
                            <span class="slider round"></span>
                        </label>
                    </li>
                    <li class="list-group-item text-white text-left bg-dark">
                        <label class="font-weight-bold m-0 align-middle">Pause Panzoom</label>
                        <label class="switch m-0">
                            <input id="pausePanzoomCB" type="checkbox" class="default">
                            <span class="slider round"></span>
                        </label>
                    </li>
                    <li class="list-group-item text-white bg-dark">
                        <div class="form-group">
                            <label for="canvasTheme" class="font-weight-bold">Canvas Theme</label>
                            <input type="text" class="form-control font-weight-bold" id="canvasTheme" value="{{ object.theme }}" disabled>
                        </div>
                    </li>
                    <li class="list-group-item text-white bg-dark">
                        <button class="btn btn-md btn-dark d-inline ppp-btn-detail-canvas" data-toggle="modal" data-target=".canvas-control-modal">
                            <i class="fas fa-info-circle ppp-canvas-control"></i>
                        </button>
                        <a id="downloadButton" class="btn btn-lg btn-dark d-inline ppp-btn-detail-canvas" href="{% url 'canvas-img' id=object.id %}" download="{{ object.name }}">
                            <i class="fas fa-file-download ppp-canvas-control"></i>
                        </a>                        
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="canvasContainer" class="ppp-canvas-wrapper">
        <div id="mouseCord"></div>
        <canvas id="canvas">
            Canvas are not supported
        </canvas>
    </div>

    {% if user.is_authenticated %}
    <div id="downbarContainer" class="ppp-downbar-container">
        <div class="row">
            <div class="col-10 col-md-8 col-lg-4 offset-1 offset-md-2 offset-lg-4 ppp-downbar-content p-1">
                {% if user.is_authenticated %}
                {% with slots_count=slots.count col_num=12|div:slots.count %}
                <div class="col-8 offset-2 p-0">
                    <div class="row text-center">
                        {% if slots_count > 0 %}
                        <div class="col-{{col_num}} d-inline-block">
                            <div class="picker1 ppp-picker-sm ppp-picker-selected"></div>
                        </div>
                        {% endif %}
                        {% if slots_count > 1 %}
                        <div class="col-{{col_num}} d-inline-block">
                            <div class="picker2 ppp-picker-sm"></div>
                        </div>
                        {% endif %}
                        {% if slots_count > 2 %}
                        <div class="col-{{col_num}} d-inline-block">
                            <div class="picker3 ppp-picker-sm"></div>
                        </div>
                        {% endif %}
                        {% if slots_count > 3 %}
                        <div class="col-{{col_num}} d-inline-block">
                            <div class="picker4 ppp-picker-sm"></div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endwith %}
                {% endif %}
            </div>
        </div>
    </div>
    
    <div id="color-picker-modal" class="modal fade color-picker-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div id="color-picker-modal-inner" class="modal-body text-center">
                    {% for color in user.owns.all %}
                        <div class="ppp-color-case" style="background-color: {{ color.hex }};" onclick="changeSlotColor('{{ color.hex }}')"></div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger ppp-btn-lg" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="lock-pixel-modal" class="modal fade lock-pixel-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3>Lock Pixel for a given duration</h3>
                    {% with price=prices|get_item:11 %}
                    <h4 id="lockDetails">{{ price.name }}</h4>
                    {% endwith %}
                    <input id="lockRange" type="range" min="10" max="14" step="1" value="11">
                </div>
                <div class="modal-footer">
                    <button id="lockPixelButton" type="button" class="btn btn-outline-dark ppp-btn-lg" data-dismiss="modal">
                        {% with price=prices|get_item:11 %}
                        Lock Pixel for <span id="lockPrice">{{ price.price }}</span>
                        {% endwith %}
                        <img class="ppp-currency ppp-currency-lg" src="{% static 'paypixplaceapp/images/currencyPPP.png' %}" alt="P">
                    </button>
                    <button type="button" class="btn btn-danger ppp-btn-lg" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div id="canvas-control-modal" class="modal fade canvas-control-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Canvas Controls</h2>
                </div>
                <div class="modal-body">
                    <label class="font-weight-bold">General</label>
                    <ul class="pl-3 text-left">
                        <li>Pick a color to draw</li>
                        <li>Click on the palette, on the right of a color to change it</li>
                        <li>Selection tool is useful to get more information or to lock a pixel</li>
                        <li>Show grid is useful to be more precise</li>
                        <li>Show locked is useful to know which pixel is protected</li>
                        <li>Pause Panzoom is useful to disable the zoom and the movement on the canvas</li>
                    </ul>
                    <label class="font-weight-bold">Mobile</label>
                    <ul class="pl-3 text-left">
                        <li>Hold left click to move the canvas</li>
                        <li>Use mousewheel to zoom</li>
                        <li>Click to change the color of a pixel</li>
                    </ul>
                    <label class="font-weight-bold">Computer</label>
                    <ul class="pl-3 text-left">
                        <li>Move your finger on your screen to move the canvas</li>
                        <li>Pinch the screen to zoom</li>
                        <li>Touch to change the color of a pixel</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger ppp-btn-lg" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <img id="lockImage" src="{% static 'paypixplaceapp/images/lock.png' %}" style="display:none" />

    <script>
        window.CSRF_TOKEN = "{{ csrf_token }}";
        const canvasId = "{{ object.id }}";
        const canvasName = "{{ object.name }}";
        {% if user.is_authenticated %}
            const userId = "{{ user.id }}";

            colors = [];
            {% for slot in slots %}
                colors.push('{{ slot.color.hex }}')
            {% endfor %}

        {% endif %}
    </script>
    
{% endblock content %}