{% extends "paypixplaceapp/base_standard.html" %}
{% load staticfiles %}
{% block content %}
    {% block title %}
    
    {% endblock title %}

    <div class="row">
        {% for c in canvas %}

            <div class="text-center col-12 col-sm-6 col-lg-4 mb-5">
                <a href="{% url 'canvas-detail' c.id %}">
                    <h2>{{ c.name }}</h2>
                    <div class="img-container">
                        <img
                            class="canvas-img img-fluid img-thumbnail"
                            src="{% url 'canvas-img' c.id %}"
                            alt="canvas named {{c.name}}"
                        />
                    </div>
                </a>
            </div>

        {% endfor %}
    </div>

    <div class="fixed-bottom container mb-1">
        <div class="pagination">
            <span class="step-links">
                {% if canvas.has_previous %}
                    <a role="button" href="?page=1" class="btn btn-outline-dark">&laquo; first</a>
                    <a role="button" href="?page={{ canvas.previous_page_number }}" class="btn btn-outline-dark">previous</a>
                {% endif %}
        
                <span class="current font-weight-bold">
                    Page {{ canvas.number }} of {{ canvas.paginator.num_pages }}
                </span>
        
                {% if canvas.has_next %}
                    <a role="button" href="?page={{ canvas.next_page_number }}" class="btn btn-outline-dark">next</a>
                    <a role="button" href="?page={{ canvas.paginator.num_pages }}" class="btn btn-outline-dark">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    
{% endblock content %}