{% extends "paypixplaceapp/base.html" %}
{% block content %}
    
    <h1>Community Canvas</h1>
    
    <h2>{{ object.name }}</h2>
    <canvas id="canvas" width="5000" height="5000">
        Canvas are not supported
    </canvas>
    <style>
        #canvas {
            border:1px solid #000000;
            transform-origin: 0 0;
            cursor: pointer;
        }
    </style>
    <script>
        let canvas = document.getElementById("canvas");
        let ctx = canvas.getContext("2d");
        
        let pixelWidth = 5000 / {{ object.width }};

        let scale = 0.1;

        function drawPixels() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            {% for p in object.pixel_set.all %}
            ctx.fillStyle = "{{p.hex}}";
            ctx.fillRect(
                {{ p.x }} * pixelWidth, 
                {{ p.y }} * pixelWidth, 
                pixelWidth,
                pixelWidth
            );
            {% endfor %}
        }
        
        function setCanvasScale() {
            canvas.style.transform = "scale(" + scale + ")";
        }

        canvas.addEventListener('click', function(event) {
            let x = parseInt((event.offsetX) / pixelWidth);
            let y = parseInt((event.offsetY) / pixelWidth);

            $.ajax({
                type: 'GET',
                url: '/change_pixel_color/',
                data: {
                    'canvas_id': {{ object.id }},
                    'x': x,
                    'y': y,
                    'hex': '#00FF00',
                },
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        location.reload();
                    }
                }
            });

        }, false);

        canvas.addEventListener("mousemove", function() {
            let x = parseInt((event.offsetX) / pixelWidth);
            let y = parseInt((event.offsetY) / pixelWidth);
            drawPixels();
            ctx.lineWidth = 1/scale;
            ctx.strokeRect(
                x*pixelWidth, 
                y*pixelWidth, 
                pixelWidth, 
                pixelWidth
            );
        }, false);

        canvas.addEventListener("mouseleave", function() {
            drawPixels();
        }, false);

        canvas.addEventListener("wheel", function(e) {
            e.deltaY < 0 ? scale *= 1.2 : scale /= 1.2;
            setCanvasScale();
            e.preventDefault();
        }, false);

        drawPixels();
        setCanvasScale();
    </script>
    
{% endblock content %}