{% extends "paypixplaceapp/base.html" %}
{% block content %}
    
    <h1>Community Canvas</h1>
    
    <h2>{{ object.name }}</h2>
    <canvas id="{{ object.name }}" width="{% widthratio object.width 1 10 %}" height="{% widthratio object.height 1 10 %}" style="border:1px solid #000000;">
        Canvas are not supported
    </canvas>
    <script>
        var canva = document.getElementById("{{ object.name }}");
        var ctx = canva.getContext("2d");
        
        {% for p in object.pixel_set.all %}
            x = {% widthratio p.x 1 10 %};
            y = {% widthratio p.y 1 10 %};
            ctx.fillStyle = "{{p.hex}}";
            ctx.fillRect(x, y, 10, 10);
        {% endfor %}

        canva.addEventListener('click', function(event) { 
            var rect = canva.getBoundingClientRect();
            var x = parseInt((event.clientX - rect.left) / 10);
            var y = parseInt((event.clientY - rect.top) / 10);

            $.ajax({
                type: 'GET',
                url: '/change_pixel_color/',
                data: {
                'canvas_id': {{ object.id }},
                'x': x,
                'y': y,
                'hex': '#00FF00',
                },
                dataType: 'json',
                success: function (data) {
                if (data.is_taken) {
                    alert("ELEMENT MODIFIED");
                }
                }
            });

        }, false);
    </script>
    
{% endblock content %}