{% extends "paypixplaceapp/base_standard.html" %}
{% load staticfiles %}
{% block content %}

    <div class="row">
        {% if canvas_count <= 0 %}
            <div class="col-12 text-center mt-3">
                <i class="fas fa-ghost ppp-icon-xl"></i>
                <h3>
                    You haven't created any canvas yet. Don't wait any longer and <a href="{% url 'canvas-create' %}">start now!</a>
                </h3>
            </div>
        {% endif %}

        <div id="confirm-enable-profit" class="modal fade confirm-enable-profit">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    {% with profit_activation=prices|get_item:9 %}
                    <div class="modal-body" style="display: inline-block;">
                        <h3>
                            Enable the profit for this canvas will cost you <strong>{{ profit_activation.price }}</strong>
                            <img class="ppp-currency ppp-currency-lg" src="{% static 'paypixplaceapp/images/currencyPPP.png' %}" alt="P">!
                        </h3>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success ppp-btn-md font-weight-bold" name="btn-confirm-profit" data-dismiss="modal">
                            Confirm
                        </button>

                        <button type="button" class="btn btn-danger ppp-btn-md font-weight-bold" name="btn-close-profit" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                    {% endwith %}
                </div>
            </div>
        </div>

        {% for c in canvas %}
            <div class="col-12 col-sm-6 col-lg-4 mb-5">
                <div class="card">
                    <div class="card-header">
                        <a href="{% url 'canvas-detail' c.id %}"><h2>{{ c.name }}</h2></a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <span class="font-weight-bold">Theme : </span>{{ c.theme }}
                            </div>
                            <div class="col-6 text-right">
                                <span class="font-weight-bold">Size : </span>{{ c.width }} x {{ c.width }}
                            </div>
                            <hr class="w-100">
                            <div class="col-12 mt-2">
                                <span class="font-weight-bold">Is profit on : </span>
                                <label class="switch">
                                    {% if c.is_profit_on %}
                                        <input type="checkbox" class="default showGridCB" disabled checked>
                                    {% else %}
                                        <input type="checkbox" name="checkbox_profit" class="default showGridCB" data-canvas-id="{{ c.id }}">
                                    {% endif %}
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="col-12">
                                <a href="{% url 'canvas-detail' c.id %}">
                                    <div class="ppp-img-container">
                                        <img
                                            class="ppp-canvas-img img-fluid img-thumbnail"
                                            src="{% url 'canvas-img' c.id %}"
                                            alt="canvas named {{c.name}}"
                                        >
                                    </div>       
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

    <div class="fixed-bottom container mb-1">
        <div class="pagination">
            <span class="step-links">
                {% if canvas.has_previous %}
                    <a role="button" href="?page=1" class="btn btn-dark btn-sm ppp-btn-md">&laquo; first</a>
                    <a role="button" href="?page={{ canvas.previous_page_number }}" class="btn btn-dark btn-sm ppp-btn-md">previous</a>
                {% endif %}
        
                <span class="current font-weight-bold">
                    Page {{ canvas.number }} of {{ canvas.paginator.num_pages }}
                </span>
        
                {% if canvas.has_next %}
                    <a role="button" href="?page={{ canvas.next_page_number }}" class="btn btn-dark btn-sm ppp-btn-md">next</a>
                    <a role="button" href="?page={{ canvas.paginator.num_pages }}" class="btn btn-dark btn-sm ppp-btn-md">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    
    <script type="text/javascript" src="{% static 'paypixplaceapp/js/canvas_profit.js' %}"></script>
{% endblock content %}