{% extends "paypixplaceapp/base.html" %}
{% block content %}

    <div class="row">
        {% for c in canvas %}

            <div class="text-center col-12 col-sm-6 col-lg-4 mb-3">
                <a href="{% url 'canvas-detail' c.id %}">
                    <h2>{{ c.name }}</h2>
                    <img
                        class="w-100 img-fluid img-thumbnail"
                        src="{% url 'canvas-img' c.id %}"
                        alt="canvas named {{c.name}}"
                    />        
                </a>
            </div>

        {% endfor %}
    </div>
    
{% endblock content %}