{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'paypixplaceapp/images/currencyPPP.ico' %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.0.0-beta.3/js/bootstrap-colorpicker.js" integrity="sha256-9QHozPiPxu5FB5mnpm8JvFLe9HnnNvHTsNuyvBK5iBk=" crossorigin="anonymous"></script>
    <script src="{% static 'paypixplaceapp/js/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'paypixplaceapp/libraries/notify.min.js' %}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/3.0.0-beta.3/css/bootstrap-colorpicker.css" integrity="sha256-89LqT4Uj5vMM4KWCuxL/ZJpcoz9bH9FpbsPUW2q1Uhk=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'paypixplaceapp/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'paypixplaceapp/css/canvas_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'paypixplaceapp/css/pix_shop.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'paypixplaceapp/css/pyro.css' %}">

    {% if title %}
        <title>PayPixPlace - {{ title }}</title>
    {% else %}
        <title>PayPixPlace</title>
    {% endif %}
</head>
<body>

    {% include "paypixplaceapp/inc/navbar.html" %}

    {% block base %}{% endblock base %}

    {% include "paypixplaceapp/inc/pix_shop_modal.html" %}
    
</body>
</html>