{% extends "paypixplaceapp/base.html" %}
{% block base %}

    <main role="main" class="container ppp-main-container">
        <div class="row">
            <div class="col-12 mt-3">
                <div id="alertMessages">
                    {% if messages %}
                        {% for message in messages %}

                            {% if 'error' in message.tags %}
                                <div class="alert alert-danger">
                                    {% if 'safe' in message.tags %}
                                        {{ message|safe }}
                                    {% else %}
                                        {{ message }}
                                    {% endif %}
                                </div>
                            {% elif 'success' in message.tags %}
                                <div class="alert alert-success">
                                    {% if 'safe' in message.tags %}
                                        {{ message|safe }}
                                    {% else %}
                                        {{ message }}
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="alert alert-{{ message.tags }}">
                                    {% if 'safe' in message.tags %}
                                        {{ message|safe }}
                                    {% else %}
                                        {{ message }}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                {% block content %}{% endblock content %}
            </div>
        </div>
    </main>
    
{% endblock base %}
