{% extends "paypixplaceapp/base.html" %}
{% block content %}
    {% block title %}
    
    {% endblock title %}

    {% for c in canvas %}
        <div class="text-center">
            <a href="{% url 'canvas-detail' c.id %}">
                <h2>{{ c.name }}</h2>
                <img
                    class="w-25 img-fluid img-thumbnail"
                    src="{% url 'canvas-img' c.id %}"
                    alt="canvas named {{c.name}}"/>        
            </a>
        </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if canvas.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ canvas.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ canvas.number }} of {{ canvas.paginator.num_pages }}.
            </span>
    
            {% if canvas.has_next %}
                <a href="?page={{ canvas.next_page_number }}">next</a>
                <a href="?page={{ canvas.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    
{% endblock content %}