{% extends "paypixplaceapp/base_standard.html" %}
{% load staticfiles %}
{% block content %}
    
    <div class="col-12 text-center">
        {% if user_title_num == 4 %}
            <img class="img-fluid w-75" src="{% static 'paypixplaceapp/images/pixelLegendPPP.png' %}" alt="Pixel Legend">
        {% elif user_title_num == 3 %}
            <img class="img-fluid w-50" src="{% static 'paypixplaceapp/images/pixelLordPPP.png' %}" alt="Pixel Lord">
        {% elif user_title_num == 2 %}
            <h2 class="font-weight-bold">{{ user_title }}</h2>
        {% elif user_title_num == 1 %}
            <h2>{{ user_title }}</h2>
        {% elif user_title_num == 0 %}
            <h2>{{ user_title }}</h2>
            <a href="{% url 'pix-purchase' %}">Upgrade and get bonus ?</a>
        {% else %}
            <h2>{{ user_title }}</h2>
            <a href="{% url 'register' %}">Create an account ?</a>
            <br>
            <a href="{% url 'login' %}">Already have an account ?</a>
        {% endif %}
    </div>
    
{% endblock content %}
