{% extends "paypixplaceapp/base.html" %}
{% block content %}
    
    <h1>Purchase PIX</h1>

    <div class="row">
        {% for pixie in pixies %}
        <div class="col-md-6 p-3">
            <div class="card text-center p-0">
                <div class="card-header">
                    <h2>{{ pixie.title }}</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title mb-3 font-weight-bold">{{ pixie.price }} CHF</h5>
                    <p class="card-text mb-0">{{ pixie.number }} PIX</p>
                    <p class="card-text mt-0">+{{ pixie.bonus }} bonus PIX</p>
                    <a href="{% url 'pix-add' id=pixie.id %}" class="btn btn-outline-dark ppp-btn-rounded font-weight-bold">{{ pixie.number|add:pixie.bonus }} PIX</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock content %}