{% extends "paypixplaceapp/base_standard.html" %}
{% load staticfiles %}
{% block content %}
    
    <div class="row">
        {% for pixie in pixies %}
            {% if pixie.num_type == 4 %}
            <div class="col-md-6 p-3">
                <div class="card text-center p-0">
                    <div class="card-header ppp-purchase-header-lg">
                        <h2 class="ppp-purchase-title m-0">
                            <img class="ppp-purchase-title-legend img-fluid" src="{% static 'paypixplaceapp/images/pixelLegendPPP.png' %}" alt="Pixel Legend">
                        </h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-3 font-weight-bold">{{ pixie.price }} CHF</h5>
                        <p class="card-text mt-0">
                            {{ pixie.number }} + {{ pixie.bonus }} bonus PIX
                        </p>
                        <button id='{{ pixie.num_type }}' type="submit" class="btn btn-outline-dark ppp-btn-lg">
                            {{ pixie.number|add:pixie.bonus }}
                            <img class="ppp-currency ppp-currency-lg" src="{% static 'paypixplaceapp/images/currencyPPP.png' %}" alt="P">
                        </button>
                    </div>
                </div>
            </div>
            {% elif pixie.num_type == 3 %}
            <div class="col-md-6 p-3">
                <div class="card text-center p-0">
                    <div class="card-header ppp-purchase-header-lg">
                        <h2 class="ppp-purchase-title m-0">
                            <img class="ppp-purchase-title-lord img-fluid" src="{% static 'paypixplaceapp/images/pixelLordPPP.png' %}" alt="Pixel Lord">
                        </h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-3 font-weight-bold">{{ pixie.price }} CHF</h5>
                        <p class="card-text mt-0">
                            {{ pixie.number }} + {{ pixie.bonus }} bonus PIX
                        </p>
                        <button id='{{ pixie.num_type }}' type="submit" class="btn btn-outline-dark ppp-btn-lg">
                            {{ pixie.number|add:pixie.bonus }}
                            <img class="ppp-currency ppp-currency-lg" src="{% static 'paypixplaceapp/images/currencyPPP.png' %}" alt="P">
                        </button>
                    </div>
                </div>
            </div>
            {% elif pixie.num_type == 2 %}
            <div class="col-md-6 p-3">
                <div class="card text-center p-0">
                    <div class="card-header ppp-purchase-header-md">
                        <h2 class="ppp-purchase-title m-0 font-weight-bold">{{ pixie.title }}</h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-3 font-weight-bold">{{ pixie.price }} CHF</h5>
                        <p class="card-text mt-0">
                            {{ pixie.number }} + {{ pixie.bonus }} bonus PIX
                        </p>
                        <button id='{{ pixie.num_type }}' type="submit" class="btn btn-outline-dark ppp-btn-lg">
                            {{ pixie.number|add:pixie.bonus }}
                            <img class="ppp-currency ppp-currency-lg" src="{% static 'paypixplaceapp/images/currencyPPP.png' %}" alt="P">
                        </button>
                    </div>
                </div>
            </div>
            {% elif pixie.num_type == 1 %}
            <div class="col-md-6 p-3">
                <div class="card text-center p-0">
                    <div class="card-header ppp-purchase-header-md">
                        <h2 class="ppp-purchase-title m-0">{{ pixie.title }}</h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title mb-3 font-weight-bold">{{ pixie.price }} CHF</h5>
                        <p class="card-text mt-0">
                            {{ pixie.number }} + {{ pixie.bonus }} bonus PIX
                        </p>
                        <button id='{{ pixie.num_type }}' type="submit" class="btn btn-outline-dark ppp-btn-lg">
                            {{ pixie.number|add:pixie.bonus }}
                            <img class="ppp-currency ppp-currency-lg" src="{% static 'paypixplaceapp/images/currencyPPP.png' %}" alt="P">
                        </button>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    
    <script>
        window.CSRF_TOKEN = "{{ csrf_token }}";
        purchaseOptions = [];
        {% for pixie in pixies %}
            purchaseOptions.push({
                id: '{{ pixie.id }}',
                price: {% widthratio pixie.price 1 100 %},
                number: '{{ pixie.number }}',
                bonus: '{{ pixie.bonus }}'
            })
        {% endfor %}
    </script>
    
    <script type="text/javascript" src="{% static 'paypixplaceapp/js/payment.js' %}"></script>
{% endblock content %}