{% extends "paypixplaceapp/base.html" %}
{% load staticfiles %}
{% block content %}
    
    <h1>Purchase PIX</h1>

    <div class="row">
        {% for pixie in pixies %}
        <div class="col-md-6 p-3">
            <div class="card text-center p-0">
                <div class="card-header">
                    <h2>{{ pixie.title }}</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title mb-3 font-weight-bold">{{ pixie.price }} CHF</h5>
                    <p class="card-text mb-0">{{ pixie.number }} PIX</p>
                    <p class="card-text mt-0">+{{ pixie.bonus }} bonus PIX</p>
                    <button id='{{ pixie.id }}' type="submit" class="btn btn-outline-dark ppp-btn-rounded font-weight-bold">{{ pixie.number|add:pixie.bonus }} PIX</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script>
        window.CSRF_TOKEN = "{{ csrf_token }}";
        purchaseOptions = [];
        {% for pixie in pixies %}
            purchaseOptions.push({
                id: '{{ pixie.id }}',
                price: {% widthratio pixie.price 1 100 %},
                number: '{{ pixie.number }}',
                bonus: '{{ pixie.bonus }}'
            })
        {% endfor %}
    </script>
    
    <script type="text/javascript" src="{% static 'paypixplaceapp/payment.js' %}"></script>
{% endblock content %}