{% extends "paypixplaceapp/base_standard.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <form method="POST" class="offset-md-2 col-md-8">
        {% csrf_token %}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><h2>{{ user.username }} Profile Info</h2></legend>
            {{ form|crispy }}
        
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </fieldset>
    </form>
    
{% endblock content %}