{% load static %}

{% if prices != Undefined and colors_pack != Undefined and user.is_authenticated %}

<div id="buy-color-modal" class="modal fade buy-color-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body text-center">
                <img class="img-fluid w-75 mb-3" src="{% static 'paypixplaceapp/images/pixShopPPP.png' %}" alt="PIX Shop">
                <p class="font-weight-bold">
                    Here you can spend the PIX that you earned or <a href="{% url 'pix-purchase' %}">bought</a>
                </p>

                <hr class="ppp-hr w-100">

                <div class="row text-center align-middle ppp-color-pack-row">
                    <div class="col-6 ppp-border-right">
                        <h3 class="ppp-pix-shop-title mb-3">Any Color</h3>

                        <div id="fix_color_picker" data-color="#305AA2" class="mb-3">
                            <input id="fix_color" type="text" class="form-control mb-1 col-8 offset-2"/>
                        </div>
                        
                        <button id="btnFixColor" class="btn btn-outline-dark ppp-btn-lg">
                            {% with fix_color=prices|get_item:0 %}
                            {{ fix_color.price }}
                            {% endwith %}
                            <img class="ppp-currency ppp-currency-lg" src="{% static 'paypixplaceapp/images/currencyPPP.png' %}" alt="P">
                        </button>
                    </div>

                    <div class="col-6 ppp-buy-color-pack">
                        <h3 class="ppp-pix-shop-title mb-3">Color Pack</h3>

                        {% for color_pack in colors_pack %}

                            <form action="buy/1" method="post" name="pack_form">
                                <div class="mb-3">
                                    <input type="hidden" name="pack_id" class="pack_id" value="{{ color_pack.id }}" />
                                    <div class="form-group">
                                        <label class="font-weight-bold d-block">{{ color_pack.name }}</label>
                                        {% for color in color_pack.contains.all %}
                                            <div class="ppp-buy-color-case" style="background-color: {{ color.hex }};"></div>
                                        {% endfor %}
                                    </div>
                                    
                                    <button type="submit" class="btn btn-outline-dark ppp-btn-lg">
                                        {% with color_pack_price=prices|get_item:1 %}
                                        {{ color_pack_price.price }}
                                        {% endwith %}
                                        <img class="ppp-currency ppp-currency-lg" src="{% static 'paypixplaceapp/images/currencyPPP.png' %}" alt="P">
                                    </button>
                                </div>
                            </form>
                            
                            {% if not forloop.last %}
                                <hr class="ppp-hr">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <hr class="ppp-hr w-100">

                <div class="row text-center align-middle mb-5">
                    <div class="col-6">
                        <h3 class="ppp-pix-shop-title mb-3">Random Color</h3>

                        <button id="btnRandomColor" class="btn btn-outline-dark ppp-btn-lg">
                            {% with random_color=prices|get_item:2 %}
                            {{ random_color.price }}
                            {% endwith %}
                            <img class="ppp-currency ppp-currency-lg" src="{% static 'paypixplaceapp/images/currencyPPP.png' %}" alt="P">
                        </button>
                    </div>

                    <div class="col-6">
                        <h3 class="ppp-pix-shop-title mb-3">Color Slot</h3>
                        
                        <button id="btnBuySlot" class="btn btn-outline-dark ppp-btn-lg">
                            {% with unlock_slot=prices|get_item:3 %}
                            {{ unlock_slot.price }}
                            {% endwith %}
                            <img class="ppp-currency ppp-currency-lg" src="{% static 'paypixplaceapp/images/currencyPPP.png' %}" alt="P">
                        </button>
                    </div>
                </div>

                <div class="row text-center align-middle mb-5">
                    <div class="col-6">
                        <h3 class="ppp-pix-shop-title mb-3">Increase Max Ammo</h3>
                        
                        <button id="btnIncreaseMaxAmmo" class="btn btn-outline-dark ppp-btn-lg">
                            {% with max_ammo=prices|get_item:5 %}
                            {{ max_ammo.price }}
                            {% endwith %}
                            <img class="ppp-currency ppp-currency-lg" src="{% static 'paypixplaceapp/images/currencyPPP.png' %}" alt="P">
                        </button>
                    </div>

                    <div class="col-6">
                        <h3 class="ppp-pix-shop-title mb-3">Reduce Refill Time</h3>
                        
                        <button id="btnReduceRefillTime" class="btn btn-outline-dark ppp-btn-lg">
                            {% with refill_time=prices|get_item:6 %}
                            {{ refill_time.price }}
                            {% endwith %}
                            <img class="ppp-currency ppp-currency-lg" src="{% static 'paypixplaceapp/images/currencyPPP.png' %}" alt="P">
                        </button>
                    </div>
                </div>
                
                <div class="row text-center align-middle mb-5">
                    <div class="col-6">
                        <h3 class="ppp-pix-shop-title mb-3">Instant Ammo</h3>
                        
                        <button id="btnInstantAmmo" class="btn btn-outline-dark ppp-btn-lg">
                            {% with instant_ammo=prices|get_item:7 %}
                            {{ instant_ammo.price }}
                            {% endwith %}
                            <img class="ppp-currency ppp-currency-lg" src="{% static 'paypixplaceapp/images/currencyPPP.png' %}" alt="P">
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger ppp-btn-lg" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="unlock-item-modal" class="modal fade unlock-item-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content text-center">
            
            <div class="pyro">
                <div class="before"></div>
                <div class="after"></div>
            </div>

            <div class="modal-body">
                <h2 class="mb-3">Unlocked</h2>
                <div id="unlockItem" class="mb-3"></div>

                <button type="button" class="btn btn-outline-dark ppp-btn-md" data-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>

<script>
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>

<script type="text/javascript" src="{% static 'paypixplaceapp/js/pix_shop.js' %}"></script>

{% endif %}